@import "../globals.scss";


.profilePage {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $lightwhite;

    .profile-page {
        width: 70%;
        display: flex;
        padding: 20px;

        .left-box {
            width: 30%;
            background-color: $whitecolor;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-right: 20px;

            .profile-details {
                margin-bottom: 20px;

                h2 {
                    color: $primary-color;
                    margin-bottom: 10px;
                }

                p {
                    margin: 5px 0;
                }
            }

            .buttons {
                display: flex;
                flex-direction: column;

                button {
                    margin-bottom: 10px;
                    background-color: $primary-color;
                    color: $whitecolor;
                    border: none;
                    padding: 10px;
                    border-radius: 4px;
                    cursor: pointer;
                    text-align: left;
                    display: flex;
                    align-items: center;

                    &:hover {
                        background-color: darken($success-color, 10%);
                    }

                    svg {
                        margin-right: 10px;
                    }
                }
            }
        }

        .right-box {
            width: 70%;
            background-color: $whitecolor;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            h2 {
                color: $primary-color;
                margin-bottom: 20px;
            }

            .progress-result {
                margin-bottom: 20px;

                h3 {
                    color: $primary-color;
                    margin-bottom: 10px;
                }

                h4{
                    margin: 0;
                    font-size: 12px;
                }
            }
        }
    }
}
